.column {
	&2 {
		& > h2 {
			font-size: 1.25em;
		}
		&easy {
			column-count: 2;
			@include max-width-mixin('medium') {
				column-count: 1;
			}
		}
		display: flex;
		&first {
			margin-right: 2em;
		}
		> div {
			flex: 1;
			vertical-align: top;
		}
		&spacer {
			flex: 0 !important;
			min-width: 1em;
		}
	}
}
.flex {
	display: flex;
	& > div {
		flex: 1;
	}
}
sup {
	font-size: .6em;
}
.imgLefttextRigtBelow {
	margin-bottom: 1em;
	@include max-width-mixin('medium') {
		margin-bottom: 1em;
	}
	&-row_top {
		display: flex;
		@include max-width-mixin('medium') {
			flex-direction: column-reverse;
		}
	}
	&_img {
		flex: 1.25;
		@include max-width-mixin('medium') {
			margin: 1em 0;
		}
		& > img {
			width: 100%;
		}
	}
	&_text {
		@include min-width-mixin('medium') {
			padding: 0.5em;
		}
		&-right {
			flex: 0.4;
			& > h1 {
				font-size: 1.25em;
				margin-bottom: .75em;
			}
		}
		&-bottom {
		}
	}
}
.italy {
	font-style: italic;
	font-family: 'Gelasio';
	font-weight: 300;
	&bold {
		font-size: 1.3em;
	}
}
.homepage {
	&-list {
		margin-top: 1em;
		margin-bottom: 2em;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-around;
		align-items: stretch;
		box-sizing: border-box;
	}
	&-item {
		width: 45%;
		margin: 1em;
		display: flex;
		flex-direction: column;
		&__img {
			width: 100%;
			height: auto;
			&-con {
				flex: 0;
				width: 100%;
			}
		}
		&__text {
			flex: 1;
			width: 100%;
			padding: 0.5em;
			box-sizing: border-box;
			color: $light;
			background-color: $dark;
			&-title {
				font-weight: 800;
			}
			&-subtitle {
			}
		}
	}
}
a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}
.RF {
	&padding {
		@include min-width-mixin('large') {
			padding: 0 100px;
		}
		@include max-width-mixin('large') {
			display: flex;
			flex-direction: column;
			padding: 0 25%;
		}
		@include max-width-mixin('medium') {
			padding: 0;
		}
	}
	&sec1 {
		position: relative;
		&son {
			margin-left: 170px;
			@include max-width-mixin('medium') {
				margin-left: 0px;
			}
		}
	}
	&Specialblurb {
		margin: 0.90em .95em;

		margin-left: 1.2em;
		width: 250px;
		position: absolute;
		left: -125px;
		top: 0;
	}
}
