$header-change: 850px;
.header {
	width: 100%;
	padding-top: 1rem;
	&-top {
		@media (max-width: $header-change) {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}
		&-pic {
			width: fit-content;
		}
		&-ham {
			width: fit-content;
			display: none;
			@media (max-width: $header-change) {
				display: unset;
			}
		}
	}
	&-pic {
		// &_wide {
		// 	height: 140px;
		// 	width: 700px;
		// 	display: none;

		// 	@media (min-width: 2000px) {
		// 		display: unset;
		// 	}
		// 	&png {
		// 		height: 100%;
		// 		width: 100%;
		// 	}
		// }
		&_narrow {
			max-width: 200px;
			min-width: 40px;
			height: auto;
			width: 40vw;
			// @media (min-width: 2000px) {
			// 	display: none;
			// }
			&png {
				height: auto;
				width: 100%;
			}
		}
	}
	&-title {
		font-size: 2.5rem;
		font-weight: 800;
		line-height: 100%;
		width: 100%;
		font-family: 'Open Sans';
	}
	&-subtitle {
		width: 100%;
		font-size: 2rem;
		font-weight: 500;
		line-height: 100%;
		margin-bottom: 1rem;
		font-family: 'Open Sans';
	}
	&-bar {
		@media (max-width: $header-change) {
			display: none;
		}
		min-height: 23px;
		margin-top: 15px;
		box-sizing: border-box;
		padding: 3px 1em;
		display: flex;
		flex-direction: row;
		width: 100%;
		background-color: $dark;
		color: $light;
		&-start {
			@media (max-width: 850px) {
				display: none;
			}
		}
	}
	&-nav {
		@media (max-width: 850px) {
			display: none;
		}
		width: 100%;
		justify-content: stretch;
		flex: 1;
		list-style: none;
		display: flex;
		flex-direction: row;
		&_li {
			flex: 1;
			text-align: center;
			border-color: $light;
			height: fit-content;
			display: inline-block;
			vertical-align: middle;
			transform: perspective(1px) translateZ(0);
			box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			position: relative;
		}
	}
}
.header-bar-start {
	&txt {
		display: inline-block;
		margin-left: 5px;
		@media (max-width: 600px) {
			display: none;
		}
	}
	@media (max-width: 500px) {
		display: none;
	}
}
.HamBurg {
	display: inline-block;
	cursor: pointer;
	&bar1,
	&bar2,
	&bar3 {
		width: 35px;
		height: 5px;
		background-color: $dark;
		margin: 6px 0;
		transition: 0.4s;
	}
	.change &bar1 {
		transform: rotate(-45deg) translate(-9px, 6px);
	}
	.change &bar2 {
		opacity: 0;
	}
	.change &bar3 {
		transform: rotate(45deg) translate(-8px, -8px);
	}
}
.hnv {
	&-li {
		@include subway-font;
		&-ul {
			display: none;
			position: absolute;
			top: 100%;
			width: 100%;
			z-index: 100;
			left: 0;
			&-li {
				background-color: $dark;
				color: $light;
				padding: 10px 10px;
				letter-spacing: 2px;
				margin-bottom: 2px;
				font-size: 0.75em;

				box-sizing: border-box;
				&:hover {
					cursor: pointer;
				}
			}
		}
		&:hover &-ul,
		&-ul:hover {
			display: unset;
		}
	}
}
