.sideMenu {
	// @media (min-width: ($header-change)) {
	// 	display: none;
	// }
	height: 100vh;
	transition: right $hamburger-transitionSpeed;
	width: 400px;
	@media (max-width: 400px) {
		width: 100vw;
	}
	position: fixed;
	top: 0;
	right: 100%;
	color: white;
	background-color: $dark;
	&Open {
		right: calc(100vw - 400px);

		@media (max-width: 400px) {
			right: 0;
		}
	}
	&-con {
		box-sizing: border-box;
		padding: 20px;
		width: 100%;
		min-height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		&_close {
			position: absolute;
			right: 20px;
			top: 20px;
		}
	}
	&_icon {
		width: 25px;
		height: 25px;
	}
	&_iconarrow {
		width: 25px;
		height: 18px;
	}
	&_row {
		width: 100%;
		box-sizing: border-box;
	}
	&_X {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin-bottom: 20px;
		padding: 5px 10px;
	}
}
.SMI {
	&_tcon {
		padding: 10px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	&_decade {
		@include subway-font;
		font-size: 20px;
		letter-spacing: 1px;
	}
	&_scon {
		transition: padding .5s height .5s;
		position: relative;
		box-sizing: border-box;
		left: -20px;
		width: calc(100% + 40px);
		padding: 0 30px;
		background-color: #3f3f3f;
		overflow: hidden;
		&-list {
			@include subway-font;
			margin: 15px 0;
			display: flex;
			flex-direction: row;
			&-year {
				padding: 5px 0;
				margin-right: 15px;
				letter-spacing: 0px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 10px;
				letter-spacing: 1px;
				font-family: 'toronto_subway_bold';
			}
			&-name {
				font-family: 'toronto_subway_bold';
			}
		}
	}
}
