$breakpoints: ('small': 850px, 'medium': 1000px, 'large': 1300px) !default;
$breakpointsh: ('small':600px) !default;
@mixin min-width-mixin($breakpoint) {
	// If the key exists in the map
	@if map-has-key($breakpoints, $breakpoint) {
		// Prints a media query based on the value
		@media (min-width: map-get($breakpoints, $breakpoint)) {
			@content;
		}
	}
}
@mixin subway-font {
	font-family: 'toronto_subway_bold';
	letter-spacing: 2px;
	text-transform: uppercase;
}
@mixin max-width-mixin($breakpoint) {
	// If the key exists in the map
	@if map-has-key($breakpoints, $breakpoint) {
		// Prints a media query based on the value
		@media (max-width: map-get($breakpoints, $breakpoint)) {
			@content;
		}
	}
}
@mixin max-height-mixin($breakpoint) {
	// If the key exists in the map
	@if map-has-key($breakpointsh, $breakpoint) {
		// Prints a media query based on the value
		@media (max-height: map-get($breakpoints, $breakpoint)) {
			@content;
		}
	}
}
@font-face {
	font-family: 'toronto_subway_bold';
	src: url('toronto_subway_bold-webfont.woff2') format('woff2'),
		url('toronto_subway_bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
$dark: #2b2b2b;
$light: #fffffa;
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans';
	font-family: 'Noto Serif', serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans';
	font-family: 'Noto Serif', serif;
}
a {
	color: inherit;
	text-decoration: inherit;
}
body {
	background-color: $light;
	overflow-x: hidden;
}
.body {
	width: 100%;
	&-content {
		width: 100%;
		& > img {
			width: 100%;
		}
	}
	&-title {
		margin-top: 2rem;
		font-weight: 600;
		font-size: 2rem;
		&__sub {
			font-weight: 400;
			font-size: 1.5rem;
		}
	}
}
.container {
	background-color: $light;
	color: $dark;
}

.container {
	min-height: 100vh;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	//Tier 1
	// Anything smaller the content will be stretched to sides, aka mobile view.

	//Tier 2
	@include min-width-mixin('small') {
		width: 750px;
	}
	// Tier 3
	@include min-width-mixin('medium') {
		width: 800px;
	}

	// Tier 4
	@include min-width-mixin('large') {
		width: 1050px;
	}
}

text {
	&_upper {
		text-transform: uppercase;
	}
	&_bold {
		font-weight: 900;
	}
}

@import "header";
@import "body";
@import "special";
@import "default";
@import "homepage";
@import 'webcontent';

span {
	font-family: inherit;
}
