@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
.body {
	&-con {
		padding-bottom: 15vh;
	}
	&__img {
		width: 100%;
		&-con {
			width: 100%;
		}
	}
	// A section where image and text are placed together
	&_divide {
		margin: 1em 0;
		display: flex;
		//Horizontal
		&H {
			// No code here please
			// Image is on the lsit
			&L {
				width: 100%;
				flex-direction: row;
				&_img {
					flex: 1;
					&1980 {
						&1 {
							flex: 1.8;
						}
					}
					> img {
						width: 100%;
					}
				}
				&_text {
					flex: 1;
					padding: 0 1em;
					display: block;
				}
			}

			&R {
				width: 100%;
				flex-direction: row;
				&_img {
					flex: 1;
					&1980 {
						&1 {
							&son {
								> img {
									width: 100%;
								}
							}
							flex: 2.3;
						}
					}
					> img {
						width: 100%;
					}
				}
				&_text {
					flex: 1;
					padding: 0 1em;
					display: block;
				}
			}
		}
		//Vertical
		&V {
			//Lower
			&L {
				flex-direction: column;
				width: 100%;
				> img {
					width: 100%;
				}
			}
		}
	}
	&__text {
		&-con {
		}
		&-p {
			font-family: "Open Sans";
			margin-bottom: 1em;
		}
		&-h1 {
			margin-bottom: .25em;
		}
	}
}
.footnotes {
	&__list {
		margin-left: 1em;
	}
	&__item {
		margin-bottom: 1em;
	}
}
.blurb {
	font-family: 'Gelasio';
	font-size: 1.3em;
}
.x1980Special {
	&blurb {
		text-align: justify;
		margin: 1.5em;
		margin-right: .5em;
		margin-left: 1.3em;
		flex: 1;
	}
	&hah {
		width: 100%;
		&1 {
			flex: 3;
		}
		display: flex;
		flex-direction: row;
	}
}
