$dark: #2b2b2b;
$light: #fffffa;
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans';
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Slab';
}
a {
	color: inherit;
	text-decoration: inherit;
}
body {
	background-color: $light;
}
.header {
	width: 100%;
	padding-top: 1rem;
	&-title {
		font-size: 2.5rem;
		font-weight: 800;
		line-height: 100%;
		font-family: 'Roboto Slab';
	}
	&-subtitle {
		font-size: 2rem;
		font-weight: 500;
		line-height: 100%;
		margin-bottom: 1rem;
		font-family: 'Roboto Slab';
	}
	&-bar {
		box-sizing: border-box;
		padding: 3px 1em;
		border-radius: 5px;
		display: flex;
		flex-direction: row;
		width: 100%;
		background-color: $dark;
		color: $light;
	}
	&-nav {
		width: 100%;
		justify-content: space-around;
		flex: 1;
		list-style: none;
		display: flex;
		flex-direction: row;
		&_li {
			border-color: $light;

			display: inline-block;
			vertical-align: middle;
			transform: perspective(1px) translateZ(0);
			box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			position: relative;
			overflow: hidden;
			&:before {
				content: "";
				position: absolute;
				z-index: -1;
				left: 51%;
				right: 51%;
				bottom: 0;
				background: $light;
				height: 2px;
				transition-property: left, right;
				transition-duration: 0.1s;
				transition-timing-function: ease-out;
			}
			&:hover:before,
			&:focus:before,
			&:active:before {
				left: 0;
				right: 0;
			}
		}
	}
}
.body {
	width: 100%;
	&-content {
		width: 100%;
		& > img {
			width: 100%;
		}
	}
	&-title {
		margin-top: 2rem;
		font-weight: 600;
		font-size: 2rem;
		&__sub {
			font-weight: 400;
			font-size: 1.5rem;
		}
	}
}
.container {
	background-color: $light;
	color: $dark;
}
.container {
	min-height: 100vh;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	//Tier 1
	// Anything smaller the content will be stretched to sides, aka mobile view.

	//Tier 2
	// If the screen size is more than 768px, the content will be capped to 750px
	@media (min-width: 768px) {
		width: 750px;
	}

	// Tier 3
	// If the screen size is more than 992px, the content will be capped to 970px
	@media (min-width: 992px) {
		width: 970px;
	}

	// Tier 4
	// If the screen size is more than 1200px, the content will be capped to 1200px
	@media (min-width: 1200px) {
		width: 1170px;
	}
}

@import "body";

text {
	&_upper {
		text-transform: uppercase;
	}
	&_bold {
		font-weight: 900;
	}
}
