$dark: #2b2b2b;
$light: #f8f8f0;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Roboto';
}
body {
	background-color: $light;
}
.header {
	width: 100%;
	padding-top: 1rem;
	&-title {
		font-size: 2.5rem;
		font-weight: 800;
		line-height: 100%;
	}
	&-subtitle {
		font-size: 2rem;
		font-weight: 500;
		line-height: 100%;
		margin-bottom: 1rem;
	}
	&-nav {
		padding: 4px;
		background-color: #2b2b2b;
		color: $light;
		width: 100%;
		list-style: none;
		display: flex;
		flex-direction: row;
		&_li {
			&:first-child {
				flex: 2;
			}
			&:last-child {
				flex: 1.5;
				padding: 0 2px;
			}
			flex: 1;
			text-align: center;
			& + li {
				border-left: 1px solid $light;
			}
		}
	}
}
.body {
	width: 100%;
	&-content {
		width: 100%;
		& > img {
			width: 100%;
		}
	}
	&-title {
		margin-top: 2rem;
		font-weight: 600;
		font-size: 2rem;
		&__sub {
			font-weight: 400;
			font-size: 1.5rem;
		}
	}
}
.container {
	background-color: #f8f8f0;
	color: #2b2b2b;
}
.container {
	min-height: 100vh;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
